{% extends 'base.html.twig' %}


{% block title %}Projekt {{ project.name }}{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}

    {{ form_start(form) }}
    <div class="d-flex justify-content-center mt-5">
        <div class="flex-container col-3 justify-content-center col-1 form-group">
            <div class="pt-3">
                <div class="pb-1">
                    {{ form_label(form.name) }}
                </div>
                <div>
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="pt-3 input-group">
                <div class="pb-1 input-group-prepend">
                    {{ form_label(form.description, null,
                        {'label_attr': {'class': 'input-group-text'}}
                    ) }}
                </div>
{#                <div>#}
                    {{ form_widget(form.description,
                        {'attr': {'class': 'form-control'}, 'aria-label': 'Opis:'}
                    ) }}
{#                </div>#}
            </div>
            <div class="pt-3">
                {{ form_widget(form.addProject) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{#    {{ dump(form_widget(form1.criteries.vars.prototype)) }}#}
{#    {{ dump('dupa') }}#}

    {{ form_start(form3) }}
    <div class="row">
        <div class="col-2">
            <div class="row js-criteries-wrapper"
                 data-prototype="<div class='js-critery-item'>{{ form_widget(form3.criteriesCollection.criteries.vars.prototype)|e('html_attr') }}</div>"
                 data-index="{{ form3.criteriesCollection.criteries|length }}"
            >
                {% for criteriesForm in form3.criteriesCollection.criteries %}
                    <div class="js-critery-item">
                        {{ form_row(criteriesForm.name) }}
                        {{ form_row(criteriesForm.unit) }}
                        {{ form_row(criteriesForm.weight) }}
                        {{ form_row(criteriesForm.removeCritery) }}
                    </div>
                {% endfor %}

                {{ form_row(form3.criteriesCollection.addCritery) }}
            </div>
        </div>
        <div class="col">
            <div class="row js-variants-wrapper row flex-nowrap"
                 data-prototype="<div class='js-variant-item col'>{{ form_widget(form3.variantsCollection.variants.vars.prototype)|e('html_attr') }}</div>"
                 data-index="{{ form3.variantsCollection.variants|length }}"
            >

                {% for variantsForm in form3.variantsCollection.variants %}
                    <div class="js-variant-item col">
                        {{ form_row(variantsForm.name) }}
                        {{ form_row(variantsForm.removeVariant) }}
                    </div>
                {% endfor %}

                {{ form_row(form3.variantsCollection.addVariant) }}
            </div>
        </div>
    </div>
    <div class="row js-variants-values-wrapper"
         data-prototype="<div class='js-variant-value-item'>{{ form_widget(form3.variantsValuesCollection.variantsValues.vars.prototype)|e('html_attr') }}</div>"
         data-index="{{ form3.variantsCollection.variants|length }}"
    >

        {% for variantsValues in form3.variantsValuesCollection.variantsValues %}
            <div class="js-variant-value-item">
                {{ form_row(variantsValues.value) }}
            </div>
        {% endfor %}

    </div>
    {{ form_end(form3) }}
{% endblock %}