{% extends 'base.html.twig' %}


{% block title %}Projekty{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}

    {{ form_start(form) }}
<div class="d-flex justify-content-center mt-5">
    <div class="d-flex flex-container col-3 justify-content-center col-1 form-group">
        <div>
            <div class="pt-3">
                <div class="pb-1">
                    {{ form_label(form.name) }}
                </div>
                <div>
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="pt-3">
                <div class="pb-1">
                    {{ form_label(form.description) }}
                </div>
                <div style="width: 209px;">
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <div class="pt-3">
                {{ form_widget(form.addProject) }}
            </div>
        </div>
    </div>
</div>
    {{ form_end(form) }}

    {% include 'projects/projects_list.html.twig' %}

{% endblock %}
