
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa:</th>
            <th>Opis:</th>
            <th>Data utworzenia:</th>
            <th>Data edycji:</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for project in projectsArray %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.creationTime|date("Y-m-d H:i:s") }}</td>
                <td>{{ project.updateTime|date("Y-m-d H:i:s") }}</td>
                <td>
                    <button type="button" class="btn btn-primary"><a href="/projects/edit/{{ project.id }}" class="text-white text-decoration-none">Edycja</a></button>
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
