
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Nazwa:</th>
            <th>Opis:</th>
            <th>Data utworzenia:</th>
            <th>Data edycji:</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for project in projectsArray %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.creationTime|date("Y-m-d H:i:s") }}</td>
                <td>{{ project.updateTime|date("Y-m-d H:i:s") }}</td>
                <td>
                    <button type="button" class="btn btn-primary"><a href="/projects/edit/critery_variant/{{ project.slug }}" class="text-white text-decoration-none">Edycja</a></button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="return confirm('Czy jesteś pewien że chcesz usunąć projekt?')"><a href="/projects/delete/{{ project.slug }}" class="text-white text-decoration-none">Usuń</a></button>
                </td>
                {% if
                    project.critery|length and project.critery[0].VariantValue|length
                    and project.critery[0].alfaQ and project.critery[0].betaQ
                    and project.critery[0].alfaP and project.critery[0].betaP
                    and project.critery[0].alfaV and project.critery[0].betaV
                    and project.variant|length and project.klas|length
                    and project.profil|length and project.profil[0].profilValue|length %}
                <td>
                    <button type="button" class="btn btn-warning"><a href="/projects/raport/{{ project.slug }}" class="text-white text-decoration-none">Raport</a></button>
                </td>
                {% endif %}
            </tr>

        {% endfor %}

        </tbody>
    </table>
</div>
