{% extends 'base.html.twig' %}

{% block title %}Projekt {{ project.name }} klasy{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    {{ form_start(form) }}
    <div class="d-flex flex-row justify-content-center">
        <div class="js-klas-wrapper"
             data-prototype=
             "<tr class='js-klas-item'>
                 <td>{{ form_widget(form.klas.vars.prototype.name)|e('html_attr') }}</td>
                 <td>{{ form_widget(form.klas.vars.prototype.removeKlas)|e('html_attr') }}</td>
             </tr>"
             data-index="{{ form.klas|length }}"
        >
            <div class="col">
                <table class="table" id="klas">
                    <thead>
                    <tr>
                        <th class="text-center">Klasy</th>
                    </tr>
                    <tr>
                        <th class="text-center">Nazwa</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for klasForm in form.klas %}
                        <tr class="js-klas-item">
                            <td>{{ form_row(klasForm.name) }}</td>
                            <td> {{ form_row(klasForm.removeKlas) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ form_row(form.addKlas) }}
            </div>
        </div>
    </div>
    {{ form_widget(form.saveKlas) }}
    {{ form_end(form) }}
{% endblock %}