{% extends 'base.html.twig' %}

{% block title %}Projekt {{ project.name }} klasy{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    {{ form_start(form) }}
    <div class="col-1"></div>
    <div style="margin-bottom: 5px;">
        <div class="row js-klas-wrapper  row flex-nowrap"
             data-prototype="<div class='d-flex flex-row js-klas-item'{{ form_widget(form.klas.vars.prototype)|e('html_attr') }}></div>"
             data-index="{{ form.klas|length }}"
        >
            <div class="col">
                <div class="col-2">
{#                    <div>#}
{#                        Nazwa Klasy#}
{#                    </div>#}
{#                    <div>#}
{#                        Kolejność Klasy#}
{#                    </div>#}
                </div>

                {% for klasForm in form.klas %}
                    <div class="d-flex flex-row js-klas-item">
                        {{ form_row(klasForm.name) }}
{#                        {{ form_row(klasForm.klasOrder) }}#}
                        {{ form_row(klasForm.removeKlas) }}
                    </div>
                {% endfor %}
                {{ form_row(form.addKlas) }}
            </div>
        </div>
    </div>
    {{ form_widget(form.saveKlas) }}
    {{ form_end(form) }}
{% endblock %}