{% extends 'base.html.twig' %}

{% block title %}Projekt {{ project.name }}: Klasy{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    {{ form_start(form) }}
    <div class="container">
        <div class="text-center">
            <h1>Projekt {{ project.name }}: Klasy</h1>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div class="js-klas-wrapper"
                 data-prototype=
                 "<tr class='js-klas-item'>
                 <td>{{ form_widget(form.klas.vars.prototype.name)|e('html_attr') }}</td>
                 <td>{{ form_widget(form.klas.vars.prototype.removeKlas)|e('html_attr') }}</td>
             </tr>"
                 data-index="{{ form.klas|length }}"
            >
                <div class="col">
                    <table class="table" id="klas">
                        <thead>
                        <tr>
                            <th class="text-center">Nazwa
                                <span class="material-symbols-outlined material-symbols-outlined-menu" style="color: #000;" type="button" data-toggle="popover"
                                      title="Istotna jest kolejność wprowadzanych nazw klas. Nazwy muszą odzwierciedlać uporządkowanie od najmniej do najbardziej preferowanych klas.">info</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for klasForm in form.klas %}
                            <tr class="js-klas-item">
                                <td>{{ form_row(klasForm.name) }}</td>
                                <td> {{ form_row(klasForm.removeKlas) }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center pt-1">
                        {{ form_row(form.addKlas) }}
                    </div>
                    <div class="d-flex justify-content-center pt-1">
                        {{ form_widget(form.saveKlas) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}