<div class="container pt-5">
    {% include'/projects/thresholdValue/theresholdValue.html.twig' %}
    <table class="table w-25 p-3">
        <thead>
        <tr>
            <th colspan="3" class="text-center">Profil</th>
        </tr>
        <tr>
            <th></th>
            {% for profil in profiles %}
                <th class="text-nowrap">Profil {{ loop.index}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="text-nowrap">Profil</th>
            {% for profil in profiles %}
                <td style="background-color:rgb({{ profil.colorR }}, {{ profil.colorG }}, {{ profil.colorB }});"></td>
            {% endfor %}

        </tr>
        <tr>
            <th class="text-nowrap">Próg nierozróznialności</th>
            {% for profil in profiles %}
                <td style="background-color:rgba({{ profil.colorRQ }}, {{ profil.colorGQ }}, {{ profil.colorBQ }}, 0.5);"></td>
            {% endfor %}
        </tr>
        <tr>
            <th class="text-nowrap">Próg preferencji</th>
            {% for profil in profiles %}
                <td style="background-color:rgba({{ profil.colorRP }}, {{ profil.colorGP }}, {{ profil.colorBP }}, 0.5);"></td>
            {% endfor %}
        </tr>
        <tr>
            <th class="text-nowrap">Próg weta</th>
            {% for profil in profiles %}
                <td style="background-color:rgba({{ profil.colorRV }}, {{ profil.colorGV }}, {{ profil.colorBV }}, 0.5);"></td>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    {% if chart is defined %}
        <div class="position-relative mt-5">
            <div class="position-absolute top-5 start-50 translate-middle" style="width: 75%; height: 50%; transform: rotate(90deg);">
                {{ render_chart(chart) }}
            </div>
        </div>
    {% endif %}
</div>
