{% extends 'base.html.twig' %}


{% block title %}Projekt {{ project.name }}: Wartości wariantów{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    <div class="container">
        {{ form_start(form) }}
        <table class="table">
            <thead>
            <tr>
                <th rowspan="2" class="text-center">Kryteria</th>
                <th colspan="2" class="text-center">Progi nierozróżnialności</th>
                <th colspan="2" class="text-center">Progi preferencji</th>
                <th colspan="2" class="text-center">Progi veta</th>
            </tr>
            <tr>
                <th class="text-center">&alpha;<sub>q</sub></th>
                <th class="text-center">&beta;<sub>q</sub></th>
                <th class="text-center">&alpha;<sub>p</sub></th>
                <th class="text-center">&beta;<sub>p</sub></th>
                <th class="text-center">&alpha;<sub>v</sub></th>
                <th class="text-center">&beta;<sub>v</sub></th>
            </tr>
            </thead>
            <tbody>
            {% for critery in criteries %}
                <tr>
                    <th class="text-nowrap">{{ critery.name }}
                        {% if critery.unit is defined %}
                            [{{ critery.unit }}]
                        {% endif %}
                    </th>
                    {% for threshold in form.threshold %}
                        {% if threshold.vars.data is same as (critery) %}
                            <td>
                                {{ form_widget(threshold.alfaQ) }}
                            </td>
                            <td>
                                {{ form_widget(threshold.betaQ) }}
                            </td>
                            <td>
                                {{ form_widget(threshold.alfaP) }}
                            </td>
                            <td>
                                {{ form_widget(threshold.betaP) }}
                            </td>
                            <td>
                                {{ form_widget(threshold.alfaV) }}
                            </td>
                            <td>
                                {{ form_widget(threshold.betaV) }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex flex-row">
            <table class="table w-25 p-3">
                <thead>
                    <th colspan="2" class="text-center">{{ form_label(form.criteriesCollection) }}</th>
                </thead>
                <tbody>
                {% for critery in form.criteriesCollection %}
                    <tr>
                        <th class="pr-1">{{ form_label(critery) }}</th>
                        <td>{{ form_widget(critery) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table w-25 p-3">
                <thead>
                <th colspan="2" class="text-center">{{ form_label(form.thresholdTypes) }}</th>
                </thead>
                <tbody>
                {% for thresholdType in form.thresholdTypes %}
                    <tr>
                        <th class="pr-1">{{ form_label(thresholdType) }}</th>
                        <td>{{ form_widget(thresholdType) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex flex-row">
            <div class="pt-5" style="padding-right: 15px">
                {{ form_widget(form.addThreshold) }}
            </div>
            <div class="pt-5">
                {{ form_widget(form.raport) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% include '/projects/thresholdValue/display.html.twig' %}
{% endblock %}