{% extends 'base.html.twig' %}


{% block title %}Projekt {{ project.name }}: Wartości profili{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    <div class="container">
        <div class="text-center">
            <h1>Projekt {{ project.name }}: Wartości profili</h1>
        </div>
        {{ form_start(form) }}
        <table class="table">
            <thead>
                <th></th>
                {% for profil in profiles %}
                <th class="text-center">Profil {{ loop.index }}</th>
                {% endfor %}
            </thead>
            <tbody>
            {% for critery in criteries %}
                <tr>
                    <th class="text-nowrap">{{ critery.name }}
                        {% if critery.unit is defined %}
                            [{{ critery.unit }}]
                        {% endif %}
                    </th>
                    {% for profil in profiles %}
                        {% for profilesValuesForm in form.profilesValues %}

                            {% if profilesValuesForm.vars.data.critery is same as(critery) and profilesValuesForm.vars.data.profil is same as(profil)  %}
                                <td>
                                    {{ form_widget(profilesValuesForm) }}
                                </td>
                            {% endif %}

                        {% endfor %}

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center pt-1">
            {{ form_widget(form.addProfilesValues) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}