{% extends 'base.html.twig' %}

{% block title %}Przydzielania ról{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="d-flex flex-column justify-content-center mt-5">
        <div class="d-flex justify-content-center">
            <h1>Przydziel rolę dla użytkownika: <b> {{ user.email }} </b></h1>
        </div>
        <div class="d-flex justify-content-center">
            <h3>Aktualna rola:
                {% if user.roles  is defined %}
                    {% for role in user.roles %}
                        <b>[{{ role }}]</b>
                    {% endfor %}
                {% endif %}
            </h3>
        </div>
        {{ form_start(form) }}
        <div class="d-flex justify-content-center pt-5">
            <div class="col-3">
                <div class=col-6">
                    {{ form_widget(form.roles) }}
                </div>
            </div>
            <div>
                {{ form_widget(form.save_role) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <button type="button" class="btn btn-primary"><a href="{{ path('app_admin')}}" class="text-white text-decoration-none">Wstecz</a></button>
{% endblock %}