{% extends 'base.html.twig' %}


{% block title %}Projekt {{ project.name }} Wartości wariantów{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    {{ form_start(form) }}
    <table>
        <th></th>
        {% for variant in variants %}
            <th>{{ variant.name }}</th>
        {% endfor %}

        {% for critery in criteries %}
            <tr>
                <th>{{ critery.name }}</th>
            {% for variant in variants %}
                    {% for variantsValuesForm in form.variantsValues %}

                        {% if variantsValuesForm.vars.data.critery is same as(critery) and variantsValuesForm.vars.data.variant is same as(variant)  %}
                            <td>
                                {{ form_widget(variantsValuesForm) }}
                            </td>
                        {% endif %}

                    {% endfor %}

            {% endfor %}
            </tr>
        {% endfor %}
{#        {% for critery in criteries %}#}
{#            {% for variant in variants %}#}
{#                <div class="col-2">#}
{#                    #}
{#                </div>#}
{#            {% endfor %}#}
{#        {% endfor %}#}
    </table>

    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}