{% extends 'base.html.twig' %}


{% block title %}Projekt {{ project.name }}: Wartości wariantów{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    <div class="container">
        <div class="text-center">
            <h1>Projekt {{ project.name }}: Wartości wariantów</h1>
        </div>
        {{ form_start(form) }}
        <table class="table">
            <thead>
            <th></th>
            {% for critery in criteries %}
                <th class="text-center text-nowrap">{{ critery.name }}
                    {% if critery.unit is defined %}
                        [{{ critery.unit }}]
                    {% endif %}
                </th>
            {% endfor %}
            </thead>
            <tbody>
            {% for variant in variants %}
                <tr>
                    <th class="text-nowrap">
                        {{ variant.name }}
                    </th>
                    {% for critery in criteries %}
                        {% for variantsValuesForm in form.variantsValues %}

                            {% if variantsValuesForm.vars.data.critery is same as(critery) and variantsValuesForm.vars.data.variant is same as(variant)  %}
                                <td>
                                    {{ form_widget(variantsValuesForm) }}
                                </td>
                            {% endif %}

                        {% endfor %}

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center pt-1">
            {{ form_widget(form.addVariantsValues) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}