<div class="js-variants-wrapper"
     data-prototype=
     "<tr class='js-variant-item'>
          <td>{{ form_widget(form.variantsCollection.variants.vars.prototype.name)|e('html_attr') }}</td>
          <td>{{ form_widget(form.variantsCollection.variants.vars.prototype.removeVariant)|e('html_attr') }}</td>
      </tr>"
     data-index="{{ form.variantsCollection.variants|length }}"
>
    <div class="col">
        <table class="table" id="variants">
            <thead>
            <tr>
                <th class="text-center">Watianty</th>
            </tr>
            <tr>
                <th class="text-center">Nazwa</th>
            </tr>
            </thead>
            <tbody>
            {% for variantsForm in form.variantsCollection.variants %}
                <tr class="js-variant-item">
                    <td>{{ form_row(variantsForm.name) }}</td>
                    <td>{{ form_row(variantsForm.removeVariant) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_row(form.variantsCollection.addVariant) }}
    </div>
</div>