{% extends 'base.html.twig' %}


{% block title %}Projekt {{ project.name }} Kryteria i Warianty{% endblock %}

{% block body %}
    {% include 'top_menu.html.twig' %}
    {{ form_start(form) }}
    <div class="d-flex justify-content-center mt-5">
        <div class="flex-container col-3 justify-content-center col-1 form-group">
            <div class="pt-3">
                <div class="pb-1">
                    {{ form_label(form.name) }}
                </div>
                <div>
                    {{ form_widget(form.name) }}
                </div>
            </div>
            <div class="pt-3 input-group">
                <div class="pb-1 input-group-prepend">
                    {{ form_label(form.description, null,
                        {'label_attr': {'class': 'input-group-text'}}
                    ) }}
                </div>
                <div>
                    {{ form_widget(form.description,
                        {'attr': {'class': 'form-control'}, 'aria-label': 'Opis:'}
                    ) }}
                </div>
            </div>
            <div class="pt-3">
            </div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-center">
        {% include('projects/criteryVariant/editCritery.html.twig') %}
        {% include('projects/criteryVariant/editVariant.html.twig') %}
    </div>

    {{ form_widget(form.addProject) }}
    {{ form_end(form) }}
{% endblock %}