<div class="d-flex flex-row justify-content-center pt-5">
    <h2>Wykres</h2>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <table class="table w-25 p-3">
            <thead>
                <tr>
                    <th></th>
                    <th class="text-center text-nowrap">Kolor</th>
                </tr>
            </thead>
            <tbody>
                {% for profil in profiles %}
                    <tr>
                        <th class="text-center text-nowrap">Profil{{ loop.index }}</th>
                        <td style="background-color:rgb({{ profil.colorR }}, {{ profil.colorG }}, {{ profil.colorB}});"></td>
                    </tr>
                {% endfor %}
                {% for variant in variants %}
                    <tr>
                        <th class="text-center text-nowrap">{{ variant.name }}</th>
                        <td style="background-color:rgb({{ variant.colorR }}, {{ variant.colorG }}, {{ variant.colorB }});"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if chart is defined %}
        <div class="position-relative" style="height: 1000px; margin-top: 280px; margin-bottom: -270px;">
            <div class="position-absolute top-5 start-50 translate-middle" style="width: 75%; height: 50%; transform: rotate(90deg);">
                {{ render_chart(chart) }}
            </div>
        </div>
    {% endif %}
</div>